body{
    /*background-image: url("../image/bg-soc-master-5.jpg");*/
    background:#f9f9f9;
}
#setting_accounts textarea, #group_setup textarea, #setting_start_messages input, #setting_message_templates textarea{
    background: #f1f1f1 !important;
}
.change_password_input{
    display: none;
    transform: translateX(50px);
}
.entrance_clients{
    padding: 4px 12px;
    color: #FFF !important;
    border-radius: 5px;
    background: black;
}
.login_text{
    color:white !important;
    padding: 45px 30px 20px 0 !important;
    opacity: 1 !important;
}
.form_profile label{
    /*text-align: center;*/
    font-weight: bold;
    width:100%;
    cursor: pointer;
    margin:0;
}
.form_profile span{
    text-align: center;
    font-size: 15px;
    margin:0 0 auto;
}
.form_profile input{
    margin:8px 0 15px 0;
}
.content_block{
    padding:35px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
     background-color: rgba(255, 255, 255, 0) !important;
}
.left_menu li.line_menu{
     height: 1px;
     padding: 0;
     background-color: #cccccc;
 margin-top: 100px;
 margin-bottom: 45px;
 }
.block_footer{
    padding: 70px 0;
}
nav{
    background-color: #22282d !important;
    color: #fff;
    padding: 48px 0;
}
nav img{
    width:100px
}
.number_phone{
    font-size: 29px;
    color:black;
}
nav p{
    font-size: 16px;
    margin:auto 0 auto 0;
}
.main_block{
    background-color: #22282d;
    height: 100% !important;
}
.main_block a{
    color:#fff !important;
}
.tab-pane h1{
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5em;
}
.tab-pane h2{
    font-size: 1.6em;
    margin-bottom: 0.75em;
}
.tab-pane p{
    margin: 0 0 1.5em;
}
.tab-pane h1,.tab-pane h2{
    font-weight: normal;
}
 .table-dark thead{
     background-color: #494949 !important;
     color: white
 }
 .table-dark body{
     background-color: #fff !important;
     color: black
 }
.table-dark th{
    border-color: white;
    background-color: #494949 !important;
    font-weight: normal !important;
}
.table-dark td{
    background-color: #fff !important;
    font-weight: normal !important;
    color:black
}
.table_dialog{
    height: 1000px;

}
.left_menu {
    background: #22282d;
    max-width: 322px;
    height: auto;
    margin-left: 0px;
    border-right: 2px solid white;
    z-index: 5;
    padding: 0;
    box-shadow: 5px -18px 25px black;
}

.left_menu ul {
    list-style: none;
    padding: 0;
}

.left_menu ul img {
    filter: brightness(0) invert(88%);
    color: #d7e2ea;
    padding: 0 20px 0 0;
    position: absolute;
}

.left_menu ul li {
    padding: 15px  0 15px 48px;
    /*margin: 55px 0 0 55px;*/
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #d7e2ea;
    opacity: 0.5;
    width: 100%;
}

.left_menu ul li.line_menu {
    height: 1px;
    padding: 0;
    background-color: #cccccc;
    margin-top: 100px;
    margin-bottom: 45px;
}

.left_menu ul li a {
    color: #d7e2ea;
    text-decoration: none;
}

.left_menu ul li a .col, .left_menu ul li a .col-auto {
    padding: 0;
}

.left_menu ul li:hover {
    filter: brightness(0) invert(1);
    color: white;
    opacity: 1;
}

.left_menu ul li:hover div.row::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 15px;
    right: -13px;
    position: absolute;
    margin-top: 0;
}

.left_menu ul li.active_link {
    opacity: 1;
}

.left_menu ul li.active_link div.row::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 15px;
    right: -13px;
    position: absolute;
}
