.entrance_clients{
    padding: 4px 12px;
    color: #FFF !important;
    border-radius: 5px;
    background: black;
}
.block_footer nav{
    /*padding: 70px 0;*/
    background-color: white !important;
}
nav{
    background-color: #3a3c3e !important;
    color: #fff;
    padding: 48px 0;
}
 nav img{
     width:100px;
     margin-top: 20px;
}
.number_phone{
    font-size: 29px;
    color:black;
}
 nav p{
    font-size: 16px;
    margin:auto 0 auto 0;
}
.block_carousel{
    background-image: url("../image/bg-image-5.jpg");
    background-size: cover;
    background-position: top center;
    background-position: 47.00% 90.48%;
    background-repeat: no-repeat;
    border-bottom: 0;
}
.block_carousel .title_1{
    margin: 0;
    font-size: 65px;
    line-height: 120%;
    font-family: "Open Sans", Arial;
    font-weight: 700;
    color:white !important;
}
.block_carousel .block_carousel__text{
    margin: 0;
    margin-top: 20px;
    font-size: 17px;
    line-height: 120%;
    font-family: "Open Sans", Arial;
    font-weight: normal;
    color:white;
}
.block_carousel .block_carousel__note p{
    min-width: 100px;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    font-family: "Open Sans", Arial;
    font-weight: normal;
    color:white;
}
.block_carousel__background{
    background: rgba(0, 0, 0, 0.5);
     padding: 80px 0;
    width: 100%;
    height: 100%;
}
.block_carousel__wrap a{
    color: #fff;
    background-color: #37c386;
    border-color: #37c386;
    text-shadow: 0 1px 0 #00537f;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}
.block_header_info{
    position: relative;
    padding: 50px;
}
.border-modern-item-1,.border-modern-item-2,.border-modern-item-3,.border-modern-item-4{
    position: absolute;
    width: 45px;
    height: 45px;
    border-left: 3px solid #37c386;
    border-top: 3px solid #37c386;
}
.border-modern-item-1{
    left: 0;
    top: 0;
}
.border-modern-item-2{
    transform: rotate(90deg);
    right: 0;
    top:0;
}
.border-modern-item-3{
    transform: rotate(-90deg);
    left:0;
    bottom:0;
}
.border-modern-item-4{
    transform: rotate(180deg);
    right: 0;
    bottom:0;
}
.block_carousel .block_carousel__wrap a{
    font-size: 24px;
    /*width: 100%;*/
    display: inline-block;
    padding: 14px 50px;
    margin-top: 25px;
    /*width:450px;*/
    position: relative;
}
.block_new_clients .block_carousel__wrap a{
    font-size: 16px;
    /*width: 100%;*/
    display: inline-block;
    padding: 14px 20px 12px;
    margin-top: 25px;
    /*width:450px;*/
    position: relative;
}
.block_carousel__wrap a:hover{
    background-color: #02b969;
    border-color: #02b969;
}
/*.block_carousel .block_carousel__wrap a:before{*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: 18px;*/
    /*left: -78px;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*content: "";*/
    /*background-image: url(../image/arrow2.png);*/
    /*background-repeat: no-repeat;*/
/*}*/
.block_carousel .block_carousel__wrap{
   width:450px;
}
.block_works{
    padding: 50px 0 60px 0;
    background: white;
}
.block_works .block_works__text{
    margin: 10px 0 10px 0;
    text-align: center;
    color: #34383a;
    font-size: 48px;
    line-height: 56px;
    font-family: "Open Sans", Arial;
    font-weight: 400;
    text-transform: uppercase;
}
.block_new_clients{
    background: #37c386;
    fill: #37c386;
    padding-top: 1px;
    padding-bottom: 1px;
    /*padding: 60px 0 60px;*/
    /*color: #b3b3b3;*/
}
.bg-cape-cod{
    position: relative;
    box-shadow: 2px 2px 27px 0px rgba(1, 3, 4, 0.35);
    z-index: 2;
    margin-top: -30px;
    margin-bottom: -30px;
    padding-top: 90px;
    padding-bottom: 90px;
    background: #3a3c3e;
    fill: #3a3c3e;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.block_new_clients .block_new_clients__news{
    min-height: 1em;
    line-height: 140%;
    font-family: 'Open Sans', Arial;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: #74787C !important;
}
.block_new_clients .block_new_clients__header{
    min-height: 1em;
    line-height: 140%;
    font-family: 'Open Sans', Arial;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}
.block_new_clients .block_new_clients__text{
    margin-top: 10px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 10px;
    padding: 5px 15px;
}
.block_new_clients .block_new_clients__text span{
    color: #37c386;
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}
.block_conversation{
    background: white;
    padding:50px 0 60px 0;
}
.block_conversation__header{
    margin: 10px 0 10px 0;
    text-align: center;
    color: #34383a;
    font-size: 48px;
    line-height: 56px;
    font-family: "Open Sans", Arial;
    font-weight: 400;
}
.block_conversation__text{
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: #5c5c5c;
    font-size: 25px;
    font-family: "Open Sans", Arial;
    font-weight: 300;
}
.block_conversation__block_info{
    margin-top: 55px;
}
.block_conversation__block_info .col-6{
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 25px;
    /*padding: 90px 165px 82px;*/

}
.block_conversation__block_info .col-6:hover p{
    margin-top: 30px;
    margin-bottom: 0;
}
.block_conversation__block_info .col-6:hover{
    cursor: pointer;
}
.block_conversation__block_info__image img{
    width: 40px;
    height: 40px;
}
.block_conversation__block_info__header{
    color: #2b2b2b;
    font-size: 20px;
    font-family: "Open Sans", Arial;
    font-weight: 600;
}
.block_conversation__block_info__header:hover{
    color: #37c386;
    cursor: pointer;
}
.block_conversation__block_info__text p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial;
}
.block_conversation__block_info__text{
    padding: 50px;
    border:1px solid #e5e7e9;
    transition: 0.3s cubic-bezier(0.53, 0.645, 0.51, 1.34);
}
.block_conversation__block_info__text:hover{
    background-color: #37c386;
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 25px 5px #d6d6d6;
    box-shadow: 0px 0px 25px 5px #d6d6d6;
    color:white;
}
.block_popular_issues .block_conversation__block_info__text:hover{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    border-color: #37c386;
    transition: .2s ease-in-out;
    background: none;
    color:black !important;
    border-top:4px solid #37c386;
    border-bottom:4px solid #37c386;
    cursor: pointer;
}
.block_popular_issues .block_conversation__block_info__text{
   border:none;
}
.block_conversation__block_info__text:hover p{
    color:white;
}
.block_conversation__block_info__text:hover span{
    color:white;
}
.block_popular_issues .block_conversation__block_info__text:hover p{
    color:black;
}
.block_popular_issues .block_conversation__block_info__text:hover span{
    color:black;
    font-size: 23px;
}
.block_popular_issues{
    border-bottom: 1px solid #e0e0e0;
    background: #f7f7f7;
    padding: 50px 0 70px 0;
}
.block_popular_issues .block_conversation__block_info__header{
    font-size: 18px;
    font-weight: 600;
}
.block_new_clients_today{
    background-image: url("../image/img_2015113000018000694_1920_bg.jpg");
    background-position: 50% 50%;
    background-position: 58.50% 52.38%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.block_new_clients_today__background{
    background: rgba(0, 0, 0, 0.5);
    padding: 80px 0;
    color:white;
    text-align: center;
}
.block_new_clients_today__header{
    margin: 0;
    font-size: 60px;
    line-height: 120%;
    font-family: "Open Sans", Arial;
    font-weight: 700;
}
.block_new_clients_today__text{
    margin-top: 20px;
    font-size: 26px;
    line-height: 120%;
    font-family: "Open Sans", Arial;
    font-weight: normal;
}
.block_rates_prices__header{
    margin: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    font-size: 48px;
    line-height: 56px;
    font-family: "Open Sans", Arial;
    font-weight: 400;
}
.block_rates_prices__info{
    margin: 10px 0 25px 0;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: "Open Sans", Arial;
    font-weight: 300;
}
.block_rates_prices{
    /*padding: 50px 0 60px 0;*/
    border-bottom: 1px solid #e0e0e0;
    /*background: #f7f7f7;*/
    background-image: url("../image/home-slider-1-slide-1.jpg");
}
.block_rates_prices__price{
    margin: 0 5px;
    margin-top: 55px;
}
.block_rates_prices__price__info{
    margin: 10px 0;
    padding: 0 18px;
    padding: 25px 17px 40px;
    border: 3px solid #fff;
    text-align: center;
}
.block_rates_prices__price__header span{
    color: white;
    font-size: 20px;
    font-family: "Open Sans", Arial;
    font-weight: 600;
}
.block_rates_prices__price__header{
    margin: 20px 20px 12px 20px;
}
.block_rates_prices__price__text{
    padding: 35px 20px 35px 20px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.block_rates_prices__price__price{
    margin: 16px 20px 18px 20px;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
}
.block_rates_prices__price .block_carousel__wrap{
    margin: 18px 20px 27px 20px;
}
.block_rates_prices__price .block_carousel__wrap a{
    /*padding: 5px 46px;*/
    /*font-size: 16px;*/
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 40px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    background: none;
}
.block_rates_prices__price .block_carousel__wrap a:hover{
    background: rgba(55, 195, 134, 0.75);
}
.block_comments__text{
    width: calc(585px);
    padding: 100px 0;
    padding-right: 50px;
    height: 100%;
    vertical-align: middle;
    margin: auto;
}
.block_comments__text p{
    font-family: 'Open Sans', Arial;
    font-size: 20px;
    line-height: 2em;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 40px;
    word-break: normal;
    color: #2b2b2b;
}
.block_comments img{
    /*height: 450px;*/
    width:100%;
}
.block_comments{
    background: #f9f9f9;
    padding: 90px 0;
}
.span_header{
    width: 100px;
    height: 2px;
    display: block;
    border: 2px solid #37c386;
    margin-top: 20px;
    margin-bottom: 20px;
}
.out_as_clients h3{
 font-size: 30px;
}
.block_comments .col-6{
    padding:0;
}
.container_comments{
    height: 450px;
}
.block_comments__text .text_cooments:before{
    position: absolute;
    width: 40px;
    height: 40px;
    content: ' ';
    background-image: url(../image/slider_act_shadow.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    top: -40px;
    background-position: 0px -40px;
}
.block_comments__text .text_cooments:after{
    position: absolute;
    width: 40px;
    height: 40px;
    content: ' ';
    background-image: url(../image/slider_act_shadow.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    right: 0;
    bottom: 0;
    background-position: -40px -40px;
}
.block_comments__text .text_cooments{
    position: relative;
}
.block_comments__text .autor_comments p{
    font-family: Georgia;
    font-size: 17px;
    line-height: 24px;
    color: #919191;
    position: relative;
    font-style: italic;
}
.container_comments__image{
    display: table-cell;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.comments_image1{
    background-image: url("../image/img_1378768_900_foto_1.jpg");
}
.comments_image2{
    background-image: url("../image/img_1378769_900_foto_2.jpg");
}
.comments_image3{
    background-image: url("../image/img_1378956_900_foto_3.jpg");
}








/*************************************************/

.cd-testimonials-wrapper {
    position: relative;
    /*width: 90%;*/
    /*max-width: 768px;*/
    /*background-color: #39393c;*/
    /*margin: 2em auto;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*padding: 20px 40px 70px;*/
    z-index: 1;
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials-wrapper::after {
        /* quotation mark visible */
        display: block;
    }
}
.cd-testimonials::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials > li {
    position: absolute;
    opacity: 0;
}
.cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
}
.cd-testimonials p {
    font-family: "Georgia", serif;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 45px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .cd-testimonials p {
        font-size: 22px;
        font-size: 1.375rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials p {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 1.6;
    }
}
.cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
}
.cd-author{
    text-align: center;
    height: auto;
}
.cd-author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
}
.cd-author .cd-author-info li {
   list-style: none;
}
.cd-author .cd-author-info li:first-child {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
    font-size: 12px;
    font-size: 0.75rem;
    color: #6b6b70;
}
@media only screen and (min-width: 768px) {
    .cd-author img {
        width: 60px;
        height: 60px;
    }
    .cd-author .cd-author-info {
        line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-author .cd-author-info li:last-child {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

/*.flex-direction-nav li:first-child {*/
    /*left: 0;*/
/*}*/
/*.flex-direction-nav li:last-child {*/
    /*right: 0;*/
/*}*/
/*.no-touch .flex-direction-nav li a:hover {*/
    /*background-color: #323234;*/
/*}*/
/*.flex-direction-nav li a::before {*/
    /*-webkit-transform: translateY(-35px) rotate(45deg);*/
    /*-moz-transform: translateY(-35px) rotate(45deg);*/
    /*-ms-transform: translateY(-35px) rotate(45deg);*/
    /*-o-transform: translateY(-35px) rotate(45deg);*/
    /*transform: translateY(-35px) rotate(45deg);*/
/*}*/
/*.flex-direction-nav li a::after {*/
    /*-webkit-transform: translateY(-27px) rotate(-45deg);*/
    /*-moz-transform: translateY(-27px) rotate(-45deg);*/
    /*-ms-transform: translateY(-27px) rotate(-45deg);*/
    /*-o-transform: translateY(-27px) rotate(-45deg);*/
    /*transform: translateY(-27px) rotate(-45deg);*/
/*}*/
/*.flex-direction-nav li:last-child a::before {*/
    /*-webkit-transform: translateY(-35px) rotate(-45deg);*/
    /*-moz-transform: translateY(-35px) rotate(-45deg);*/
    /*-ms-transform: translateY(-35px) rotate(-45deg);*/
    /*-o-transform: translateY(-35px) rotate(-45deg);*/
    /*transform: translateY(-35px) rotate(-45deg);*/
/*}*/
/*.flex-direction-nav li:last-child a::after {*/
    /*-webkit-transform: translateY(-27px) rotate(45deg);*/
    /*-moz-transform: translateY(-27px) rotate(45deg);*/
    /*-ms-transform: translateY(-27px) rotate(45deg);*/
    /*-o-transform: translateY(-27px) rotate(45deg);*/
    /*transform: translateY(-27px) rotate(45deg);*/
/*}*/
@media only screen and (min-width: 768px) {
    .flex-direction-nav li {
        /*width: 50px;*/
    }
}
@media only screen and (min-width: 1170px) {
    .flex-direction-nav li a::before, .flex-direction-nav li a::after {
        background-color: #5e5e63;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }
    .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
        background-color: #ffffff;
    }
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
    position: relative;
    background: #79b6e4;
    color: #ffffff;
    padding: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    border-radius: 0.25em;
    margin-bottom: 1em;
}
.cd-testimonials-all p::after {
    /* creating the triangle in css */
    content: '';
    position: absolute;
    top: 100%;
    left: 2em;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
    -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
    .cd-testimonials-all .cd-testimonials-item {
        width: 46%;
        margin: 0 2% 3em;
    }
    .cd-testimonials-all .cd-author {
        margin-left: 1em;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials-all .cd-testimonials-item {
        width: 30%;
        margin: 0 1.6666% 3em;
    }
}

/*.close-btn {*/
    /*position: fixed;*/
    /*display: block;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*top: 50px;*/
    /*right: 3%;*/
    /*!* image replacement *!*/
    /*overflow: hidden;*/
    /*text-indent: 100%;*/
    /*white-space: nowrap;*/
/*}*/
/*.close-btn::before, .close-btn::after {*/
    /*!* close icon in css *!*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*width: 2px;*/
    /*height: 24px;*/
    /*top: 8px;*/
    /*left: 19px;*/
    /*background-color: #39393c;*/
/*}*/
/*.close-btn::before {*/
    /*-webkit-transform: rotate(45deg);*/
    /*-moz-transform: rotate(45deg);*/
    /*-ms-transform: rotate(45deg);*/
    /*-o-transform: rotate(45deg);*/
    /*transform: rotate(45deg);*/
/*}*/
/*.close-btn::after {*/
    /*-webkit-transform: rotate(-45deg);*/
    /*-moz-transform: rotate(-45deg);*/
    /*-ms-transform: rotate(-45deg);*/
    /*-o-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
/*}*/


.flex-next {
    position: relative;
    background: #ffffff;
    border: 4px solid #000000;
}
.flex-next:after, .flex-next:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.flex-next:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 30px;
    margin-top: -30px;
}
.flex-next:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #000000;
    border-width: 36px;
    margin-top: -36px;
}